*{
    padding: 0;
    margin: 0;
}
nav{
  background-color: white;
}
nav ul{
    text-align: right;
    padding: 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
  color:cadetblue;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav ul li a:hover{
    color:black;  
}
.logo{
    float: left;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.drop-container{
  position: absolute;
  display: none;
  width: 300px;
  z-index: 1;
  background-color: white;
  color: black;
  text-align: justify;
}
.dropdown:hover .drop-container{
  display: block;
}
.marquee{
text-decoration: none;
color: darkcyan;
text-shadow: 2px 2px 4px black;
font-size: 30px;
}
i{
    padding: 20px;
    color: black;
    font-size: 25px;
}
i:hover{
    color: brown;
}
h1{
text-align: center;
margin-top: 200px;
color:rgb(9, 102, 102);
font-weight: bolder;
letter-spacing: 2px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: beige;
padding: 20px;

}
.background{
    position: relative;
    text-align: center;
}
.back{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin-top: 600px;
}
.grid-container{
    display: grid;
    padding: 50px;
    grid-template-columns: auto auto auto;
    grid-gap:40px 60px;
}
.grid-item{
    padding: 20px;
}
img:hover{
    transform: scale(0.8);
    z-index: 2;
}
.map{
    width: 100%;
    height: 500px;
}
.footer{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
#box{
    padding: 20px;
    color: brown;
    font-size: 25px;
}

#i{
padding: 20px;
color: rgb(18, 158, 158); ;
font-size: 50px;

}
#i:hover{
color: brown;
}
.box{
    text-align: center;
    color: darkblue;
    font-size: 60px;
    background-color:rgb(220, 226, 231);
    width: 100%;
    height: 500px;
}
.grid-grid{
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 50px;
    background-color: rgb(220, 226, 231);
    width: 100%;
}
.grid-can{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
}
.div{
    margin-top: 1100px;
}
#demo{
    text-shadow: 1px 1px 2px rgb(41, 116, 2);
    font-size: 20px;
}
#demo1 {
    text-shadow: 1px 1px 2px rebeccapurple;
    font-size: 20px;
}
#demo2 {
    text-shadow: 1px 1px 2px rgb(50, 29, 71);
    font-size: 20px;
}
#demo3 {
    text-shadow: 1px 1px 2px rgb(230, 10, 142);
    font-size: 20px;
}
#demo4 {
    text-shadow: 1px 1px 2px rgb(11, 164, 210);
    font-size: 20px;
}
#demo5 {
    text-shadow: 1px 1px 2px rgb(24, 12, 36);
    font-size: 20px;
}